[submodule "buildtools"]
	path = buildtools
	url = https://chromium.googlesource.com/chromium/buildtools.git
[submodule "vendor/vulkansamples"]
	path = vendor/vulkansamples
	url = https://github.com/LunarG/VulkanSamples.git
[submodule "vendor/spirv_cross"]
	path = vendor/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "vendor/skia"]
	path = vendor/skia
	url = https://github.com/google/skia
	ignore = dirty
