*.swp
*.pyc

out
third_party

gn/BUILD.gn
gn/BUILDCONFIG.gn
gn/__init__.py
gn/android_framework_defines.gni
gn/ar.py
gn/bench.gni
gn/core.gni
gn/cp.py
gn/effects.gni
gn/find_headers.py
gn/find_ios_sysroot.py
gn/gm.gni
gn/gn_helpers.py
gn/gn_meta_sln.py
gn/gn_to_bp.py
gn/gn_to_cmake.py
gn/gpu.gni
gn/gypi_to_gn.py
gn/is_clang.py
gn/opts.gni
gn/package_ios.py
gn/pdf.gni
gn/push_to_android.py
gn/samples.gni
gn/shared_sources.gni
gn/sksl.gni
gn/tests.gni
gn/utils.gni
gn/xps.gni
